body{
	width: 90%;
	background-color: #c9c9c9;
	
	
	margin: auto;

}

div{
	
	color: white;
	/*border: 2px solid white; /* Épaisseur, style, couleur */
	padding: 1px; /* Espace intérieur */
	width: 90%;  /* Largeur du cadre */
	margin: auto;
}

h1{
	text-align: center;

}

.titre {
	text-align: center;
}

.filtres {
	text-align: center;
}

.résultats{
	text-align: center;
}

.modification{
	text-align: center;
}

.form{
	color: white;
}

td, th {
	border: 1px solid white;
	padding: 8px;
}

th {
	background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.top{
	width: 100%;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.titre, .form{
	background-color: gray;
	border: 4px solid black; /* Épaisseur, style, couleur */
	width: 20%;
	border-radius: 30px;
	color: black;
	display: inline-block;
	align-content: center;
	text-align: center;

}

.titre{
	margin: 40px;
	margin-left: 200px;

}

.form{
	vertical-align: center;
	margin: 40px;
	margin-right: 200px;

	
}

input[type="text"] {
    background-color: gray;
    color: black;
    border: 1px solid black;
    padding: 5px;
}


.résultats{
	background-image: url(../images/cinemabg01.png);
	border-radius: 25px;
	min-height: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.grid-films {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

.film {
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid white;
	color: white;
	width: 200px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	margin: 30px;
}

.pagination{
	
}
