body{
	width: 90%;
	background-color: #c9c9c9;
	
	
	margin: auto;

}

div{
	
	color: white;
	/*border: 2px solid white; /* Épaisseur, style, couleur */
	padding: 1px; /* Espace intérieur */
	width: 90%;  /* Largeur du cadre */
	margin: auto;
}

h1{
	text-align: center;
  	color: white;

}

.titre {
	text-align: center;

}

.filtres {
	text-align: center;
}

.résultats{
	text-align: center;
}

.modification{
	text-align: center;
}

.form{
	color: white;
}

td, th {
	border: 1px solid white;
	padding: 8px;
}

th {
	background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.top{
	width: 100%;
	margin: auto;
	background-image: url(../images/projecteurbgv2.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.Elpueblo{

	background-image: url("../images/Elpueblo.jpg");
  	background-size: cover;
  	background-position: center;
}

.titre, .form{
	background-color: gray;
	border: 4px solid black; /* Épaisseur, style, couleur */
	width: 20%;
	border-radius: 30px;
	color: black;
	display: inline-block;
	align-content: center;
	text-align: center;
}

.titre{
	margin: 40px;
	margin-left: 200px;

}

.form{
	vertical-align: center;
	margin: 40px;
	margin-right: 200px;

	
}

input[type="text"] {
    background-color: gray;
    color: black;
    border: 1px solid black;
    padding: 5px;
}


.résultats{
	background-image: url(../images/cinemabg01.png);
	border-radius: 25px;
	min-height: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.grid-films {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

.film {
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid white;
	color: white;
	width: 200px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	margin: 30px;
}

.pagination{
	
}

.barrederecherche{
	align-content: center;
}

.nav-buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
	padding: 0px;

}

form.G input[type="submit"] {
    background-image: url(../images/button-flecheG.png); /* flèche vers la gauche */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
     width: 60px;            /* plus large */
    height: 30px;           /* moins haut */
    border-radius: 10px;    /* coins arrondis mais pas cercle */
    color: transparent;
    font-size: 0;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    margin-right: 10px; /* espace si besoin */
    opacity: 0.7;
    /* background-attachment: ; */
    padding: 0px;
}

form.D input[type="submit"] {
    background-image: url(../images/button-flecheD.png); /* flèche vers la droite */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
     width: 60px;            /* plus large */
    height: 30px;           /* moins haut */
    border-radius: 10px;    /* coins arrondis mais pas cercle */
    color: transparent;
    font-size: 0;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    margin-left: 10px;
    opacity: 0.7;
    padding: 0px;

}
